<div class="container login" ng-controller="Login">


  <div id="bg-overlay" class="bg-img img-balloon"></div>

  <div class="logo-container">
    <img src="assets/img/authentication/kpmg-logo.png"/>
  </div>
  <!-- /logo-container -->

  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body" ng-if="!forgot">
        <p class="pad-btm">

        <h3>Log into {{locale.product_title}}</h3>
        </p>
        <form class="form-signin" role="form"
              ng-submit="handleLoginSubmit(creds)">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input id="usernameInput" type="email" class="form-control" placeholder="Email address" required autofocus
                     ng-model="creds.username">

            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-key"></i>
              </div>
              <input type="password" autocomplete="off" class="form-control" placeholder="Password" required
                     ng-model="creds.password">

            </div>
          </div>
          <div class="row">
            <div class="col-xs-8 checkbox">
              <label for="remember_me_checkbox">Remember me</label>
              <input id="remember_me_checkbox" type="checkbox" value="remember-me"/>
            </div>
            <div class="col-xs-4">
              <div class="form-group text-right">
                <button class="btn btn-success text-uppercase" ng-disabled="isDisabled" type="submit">Sign In</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <a class="pointer" ng-click="showForget(true)">Forgot your password?</a>
              </div>
            </div>
          </div>
          <div class="label-danger" ng-show="error_message != null" style="padding:10px;border-radius:3px;color:white">
            {{error_message}}
          </div>
        </form>

      </div>
      <div id="request-forget-password" class="panel-body" ng-if="forgot" ng-controller="ForgotPasswordCtrl">
        <p class="pad-btm">

        <h3>Forget Password</h3>
        </p>
        <form class="form-signin" role="form" ng-show="!done"
              ng-submit="forgotPassword()">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="email" class="form-control" placeholder="Email address" required autofocus
                     ng-model="user.user_primary_email">

            </div>
          </div>
          <div class="label-danger" ng-show="error_msg != null">{{error_msg}}</div>
          <div class="row">
            <div class="col-xs-8 text-left">
              <button class="btn btn-warning text-uppercase" type='button' ng-click="showForget(false)"
                      ng-disabled="form_disable">Cancel
              </button>
            </div>
            <div class="col-xs-4">
              <div class="form-group text-right">
                <button class="btn btn-success text-uppercase" type="submit" ng-disabled="form_disable">Submit</button>
              </div>
            </div>
          </div>

        </form>
        <div ng-show="done">
          <p>Email has been sent check your mailbox for further instructions</p>

          <div class="row">
            <div class="col-xs-12 text-right">
              <button class="btn btn-success text-uppercase" type='button' ng-click="showForget(false)">OK</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
